<h1>Documentación Módulo Razas

</h1>
<hr>
<h3>Requerimiento 1 Documentación Del ENDPOINT razas

</h3>
<hr>
<table>
    <tr>
        <td>NUMERO</td>
        <td>1</td>
    </tr>
    <tr>
        <td>NOMBRE DEL SERVICIO</td>
        <td>Mostrar razas

        </td>
    </tr>
    <tr>
        <td>URL</td>
        <td>/races

        </td>
    </tr>
    <tr>
        <td>DESCRIPCIÓN</td>
        <td>Permite listar todas los razas
             de la base de datos</td>
    </tr>
    <tr>
        <td>VERBO HTTP</td>
        <td>GET</td>
    </tr>
    <tr>
        <td>HEADER</td>
        <td>token: "token"</td>
    </tr>
    <tr>
        <td>PETICIÓN body</td>
        <td></td>
    </tr>
    <tr>
        <td>RESPUESTA JSON</td>
        <td>
            Correcto:
            Status: 200
            JSON[
            {
              "id": 1,
              "name": "Pitbull"
            },
            {
              "id": 2,
              "name": "Bulldog"
            },
            {
              "id": 3,
              "name": "Corgi"
            },
            {
              "id": 4,
              "name": "Siamese"
            },
            {
              "id": 5,
              "name": "Graycat"
            }
          ] <br>

            Incorrecto:
            Status: 404
            JSON{
                "Mensaje": "No Se Encontraron razas"
            } <br>

            Error:
            Status: 500
            JSON{
                "Mensaje": "error"
            }
        </td>
    </tr>
    <tr>
        <td>Autor</td>
        <td>Estefania Chilito Zuñiga</td>
    </tr>
</table>
<hr>
<h3>Requerimiento 2 Documentación Del ENDPOINT razas

</h3>
<hr>
<table>
    <tr>
        <td>NUMERO</td>
        <td>2</td>
    </tr>
    <tr>
        <td>NOMBRE DEL SERVICIO</td>
        <td>Crear una raza</td>
    </tr>
    <tr>
        <td>URL</td>
        <td>/races

        </td>
    </tr>
    <tr>
        <td>DESCRIPCIÓN</td>
        <td>Permite crear una raza con la información para su exposición</td>
    </tr>
    <tr>
        <td>VERBO HTTP</td>
        <td>POST</td>
    </tr>
    <tr>
        <td>HEADER</td>
        <td>token: "token"</td>
    </tr>
    <tr>
        <td>PETICIÓN body</td>
        <td>
            JSON:{ 

                "name": "prueba"
                
              }
        </td>
    </tr>
    <tr>
        <td>RESPUESTA JSON</td>
        <td>
            Correcto:
            Status: 200
            JSON{
                "message": "raza creada con éxito"
              } <br>

            Incorrecto:
            Status: 404
            JSON{
                "Mensaje": "No Se Pudo Crear la raza"
            } <br>

            Error:
            Status: 500
            JSON{
                "Mensaje": "error"
            }
        </td>
    </tr>
    <tr>
        <td>Autor</td>
        <td>Estefania Chilito Zuñiga</td>
    </tr>
</table>